@{
    ViewData["Title"] = "Polityka prywatności";
}
<h1>@ViewData["Title"]</h1>



    <h2>1. Ochrona danych osobowych</h2>
    <p>Biuro Podróży XYZ zobowiązuje się do zachowania <strong>najwyższych standardów bezpieczeństwa i poufności</strong> w odniesieniu do wszelkich informacji, które nasi klienci nam udostępniają. Poniżej przedstawiamy zasady, na których opiera się nasza polityka prywatności:</p>
    <ul>
        <li><strong>Ograniczenie zbierania i wykorzystywania danych</strong>: Zbieramy tylko te informacje, które są niezbędne do świadczenia naszych usług.</li>
        <li><strong>Dostęp do danych</strong>: Dostęp do informacji klientów mają jedynie upoważnieni pracownicy.</li>
        <li><strong>Niezgoda na ujawnianie danych</strong>: Nie ujawniamy informacji klientów żadnej zewnętrznej organizacji.</li>
        <li><strong>Kontrola nad poufnością danych</strong>: Zawsze zachowujemy kontrolę nad poufnością informacji klientów.</li>
    </ul>

    <h2>2. Wykorzystanie danych</h2>
    <p>Dane klientów wykorzystujemy w następujących celach:</p>
    <ul>
        <li><strong>Wysyłka powiadomień e-mail</strong>: Informujemy klientów o nowych lub istniejących produktach.</li>
        <li><strong>Personalizacja treści i reklam</strong>: Dostosowujemy treści i reklamy, które klient widzi.</li>
    </ul>

    <h2>3. Inne informacje</h2>
    <p>Staramy się utrzymywać akta klientów w pełni, aktualne i dokładne.</p>

    <h2>4. Wyjątkowe okoliczności</h2>
    <p>W szczególnych okolicznościach możemy ujawnić lub wykorzystać dane osobowe, jeśli jest to konieczne do egzekwowania naszych Warunków korzystania.</p>